# Configuration of CSV file paths
# Each variable corresponds to a file in the datas folder

TABLE_2_10=./datas/table_2_10.csv  # Data from table 2.10
TABLE_2_11=./datas/table_2_11.csv  # Data from table 2.11
TABLE_2_9=./datas/table_2_9.csv    # Data from table 2.9
TABLE_3_1=./datas/table_3_1.csv    # Data from table 3.1
TABLE_3_5=./datas/table_3_5.csv    # Data from table 3.5
TABLE_4_12=./datas/table_4_12.csv  # Data from table 4.12
TABLE_4_14=./datas/table_4_14.csv  # Data from table 4.14
TABLE_4_17=./datas/table_4_17.csv  # Data from table 4.17
